@{ 
    ViewBag.Title = "Upload";
}

<div class="with-sidebar-wrapper">
    <section id="content-section-1">
        <div class="section-container container">
            <div class="blog-item-wrapper">
                <div class="blog-item-holder">
                    <div class="gdlr-item gdlr-blog-full">
                        <div class="gdlr-ux gdlr-blog-full-ux">
                            <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-fit-row category-life-style">
                                <div class="gdlr-standard-style">
                                    <div class="gdlr-blog-content-wrapper">
                                        <div class="gdlr-blog-content-inner">
                                            <header class="post-header">
                                                <h3 class="gdlr-blog-title">Upload</h3>
                                                <div class="clear"></div>
                                            </header><!-- entry-header -->

                                            <div class="gdlr-blog-content">
                                                <form asp-action="Upload" asp-controller="System" enctype="multipart/form-data">
                                                    <p><span class="textholder">Title</span> <input type="text" placeholder="Song name" name="Title" /></p>
                                                    <p><span class="textholder">Level</span> <input type="text" placeholder="1~10" name="Level" /></p>
                                                    <p><span class="textholder">Offset</span> <input type="text" placeholder="ms" value="0" name="Offset" /> ms</p>
                                                    <p><span class="textholder">Tabular</span><input type="file" name="xml" value="1" />(*.xml)</p>
                                                    <p><span class="textholder">Instrument</span><input type="file" name="instrument" value="1" /> (*.mp3)</p>
                                                    <p><input type="submit" value="Upload" /></p>
                                                </form>
                                            </div>
                                        </div> <!-- blog-content-inner -->

                                    </div> <!-- blog-content-wrapper -->
                                    <div class="clear"></div>
                                </div>
                            </article><!-- #post -->
                        </div>
                    </div>
                </div>
            </div><div class="clear"></div>
        </div>
    </section>
</div>